* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */

:root {
    --nav-bg: #FF6900;
    --utility-red: #FF0000;
    --utility-green: #008000;
    --footer-bg: #1A1A1A;
}
.txt-white {
    color: white;
}

/* utility */

body {
    font-family: 'Noto Sans', sans-serif;
}
.debug {
    border: 1px solid black;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.txt-margin {
    margin: 10px 0;
}
.img-fit {
    display: block;
    width: 100%;
    cursor: pointer;
}
.txt-align {
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}
.txt-side-margin {
    margin-right: 10px;
}

/* header */

header {
    background-color: var(--nav-bg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.582);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000000;
}
nav {
    background-color: var(--nav-bg);
    height: 70px;
}
.txt-center > a {
    padding: 0 10px;
}
.logo {
    width: 150px;
    cursor: pointer;
}
.card-box {
    width: calc(100% / 3 - 10px);
}
.box-padding {
    padding: 50px 0;
}
.box-margin {
    margin-bottom: 30px;
}

/* main */

main {
    margin-top: 70px;
}
.card {
    position: relative;
}
.second-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.card-box:hover .second-img {
    display: block;
}
.card-tags {
    color: white;
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 2000;
}
.preferiti {
    cursor: pointer;
    background-color: white;
    font-size: 2em;
    padding: 0 10px;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 2000;
}
.preferiti:hover {
    color: var(--utility-red);
}
.discount {
    background-color: var(--utility-red);
    padding: 5px 10px;
    font-size: 0.8em;
}
.etiquette {
    background-color: var(--utility-green);
    padding: 5px 10px;
    font-size: 0.8em;
}
.brand {
    font-size: 0.8em;
}
.new-price {
    font-size: 0.8em;
    color: var(--utility-red);
    font-weight: bold;
}
.old-price {
    font-size: 0.8em;
    text-decoration: line-through;
}
.desc {
    font-weight: bold;
}

/* footer */

footer {
    background-color: var(--footer-bg);
    color: white;
    padding: 10px 0;
}
h1 {
    font-size: 1.2em;
}

/* flex */

.d-flex {
    display: flex;
    justify-content: space-between;
}
.txt-center {
    display: flex;
    align-items: center;
}
.flex-row {
    display: flex;
    flex-flow: row wrap;
}